<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>레시피 생성</title>
</head>

<script type="text/javascript" src="/js/jquery-3.6.1.js"></script>

<style>
    .fieldError {
        border-color: #bd2130;
    }
    .objDelete {
        text-decoration: line-through;
    }
</style>
<script>


    $(document).ready(function() {
        $('button .fa-plus-square').on('click', bb);
    });

    function bb(a,b,c){
        console.log(a);
        console.log(b);
        console.log(c);
    }

    function getParentObj(obj) {
        return $(obj).parentsUntil('div#step', 'div.form-group');
    }

    function add(obj) {

        // 상위
        const parentObj = getParentObj(obj);

        // 임시 stepNum
        const idx = (new Date()).getTime();

        // 부모 객체 밑에 레시피 단계를 추가한다.
        parentObj.after(getNewStep(idx));

        setIndex();
    }

    function remove(obj) {

        // 삭제 상태가 아닌 경우


        // 상위
        const parentObj = getParentObj(obj);
        const statusObj = getStatusObj(parentObj);//parentObj.children('input[name*=\'status\']');
        const stepIdObj = getStepIdObj(parentObj);

        // bb = parentObj;

        if (statusObj.val() === 'D') {

            if (stepIdObj.val() === '') {
                statusObj.val('I');
            } else {
                statusObj.val('U');
            }

            // 입력 혹은 삭제
            parentObj.removeClass("objDelete");
        } else {
            parentObj.addClass("objDelete");
            statusObj.val('D');
        }
    }

    function getStatusObj(obj) {
        return obj.children('input[name*=\'status\']');
    }

    function getStepIdObj(obj) {
        return obj.children('input[name*=\'id\']');
    }

    function up(obj) {
        const parentObj = getParentObj(obj);
        // 이전 obj
        const targetObj = parentObj.prev('div.form-group');

        if (targetObj.length !== 0) {
            const thisObj = parentObj.detach();
            targetObj.before(thisObj);
            setIndex();
        }
    }

    function down(obj) {
        const parentObj = getParentObj(obj);
        // 이전 obj
        const targetObj = parentObj.next('div.form-group');

        if (targetObj.length !== 0) {
            const thisObj = parentObj.detach();
            targetObj.after(thisObj);
            setIndex();
        }
    }

    function ttt() {

        const idx = (new Date()).getTime();

        const newRowAdd = getNewStep(idx);

        let lastInput = $('form div#steps div.form-group:last');
        if (lastInput.length === 0) {
            lastInput = $('form div#newinput');
        }

        lastInput.after(newRowAdd);

        setIndex();
    }

    /**
     * 레시피 단계를 추가한다.
     * @param index
     * @returns {string}
     */
    function getNewStep(index) {
        const  obj = '<div class="form-group" >' +
            '<label>STEP <span>$1</span></label>' +
            '<span>' +
            '<div class="btn-group">' +
            '<button type="button" class="btn btn-default" onClick="javascript:add(this)">' +
            '<i class="fas fa-plus-square"></i>' +
            '</button>' +
            '<button type="button" class="btn btn-default" onClick="javascript:remove(this)">' +
            '<i class="fas fa-minus-square"></i>' +
            '</button>' +
            '<button type="button" class="btn btn-default" onClick="javascript:up(this)">' +
            '<i class="fas fa-chevron-up"></i>' +
            '</button>' +
            '<button type="button" class="btn btn-default" onClick="javascript:down(this)">' +
            '<i class="fas fa-chevron-down"></i>' +
            '</button>' +
            '</div>' +
            '</span>' +
            '<input type="text" class="form-control" id="recipeStepList[$1].id" name="recipeStepList[$1].id" placeholder="자동생성">' +
            '<input type="text" value="I" class="form-control" id="recipeStepList[$1].status" name="recipeStepList[$1].status" placeholder="I/U/D">' +
            '<input type="text" value="0" class="form-control" id="recipeStepList[$1].step" name="recipeStepList[$1].step" placeholder="단계번호">' +
            '<input type="text" class="form-control" id="recipeStepList[$1].howTo" name="recipeStepList[$1].howTo" placeholder="레시피 단계를 입력하세요">' +
            '<input type="file" class="form-control" id="recipeStepList[$1].uploadFile" name="recipeStepList[$1].uploadFile" placeholder="업로드할 이미지를 선택하세요">' +
            '<input type="text" class="form-control" id="recipeStepList[$1].img" name="recipeStepList[$1].img" placeholder="첨부파일">' +
            '</div>';

        return obj.replaceAll('$1', index);
    }

    function setIndex() {

        const ss = $('div#steps').children();

        for (let i = 0; i < ss.length; i++) {

            const inputs = $(ss[i]).children('input');

            console.log(inputs.length);

            for (let j = 0; j < inputs.length; j++) {
                const old = inputs[j].name;
                console.log(old);

                const newName = old.substring(0, old.indexOf("[")) + '[' + i + '].' + old.substring(old.lastIndexOf('.')+1);
                console.log(newName)
                inputs[j].name = newName;
            }

        }


    }

</script>
<body>

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/image/chef_72_72.png" alt="쉐프이미지">
        <!--<h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>-->
    </div>

    <div class="row">
        <div class="col-md">
            <h4 class="mb-3">Recipe Info.</h4>
            <form role="form" action="/recipe/new" th:object="${recipeForm}" method="post"
                  enctype="multipart/form-data">
                <div class="mb-3">
                    <label th:for="foodId">음식</label>
                    <div class="input-group">
                        <select id="foodId" th:field="*{foodId}" class="form-select">
                            <option value="">음식</option>
                            <option th:each="foodCode : ${foodCodeList}" th:value="${foodCode.code}"
                                    th:text="${foodCode.text}">FAST</option>
                        </select>
                        <div class="invalid-feedback">
                            <p th:if="${#fields.hasErrors('foodId')}" th:errors="*{foodId}">Food is mandatory</p>
                        </div>
                        <div class="is-invalid">
                        </div>
                        <div class="invalid-tooltip">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label th:for="name">레시피 이름</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="레시피 이름을 입력하세요"
                               th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                        <div class="invalid-feedback">
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                        </div>
                        <div class="is-invalid">
                        </div>
                        <div class="invalid-tooltip">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label th:for="recipeFrom">레시피 출처</label>
                    <input type="text" id="recipeFrom" th:field="*{recipeFrom}" class="form-control" placeholder="레시피 이름을 입력하세요"
                           th:class="${#fields.hasErrors('recipeFrom')}? 'form-control fieldError' : 'form-control'">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div id="steps">
                    <div id="newinput"></div>

                </div>

                <hr>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="ttt();">추가</button>
                    <button type="submit" class="btn btn-primary">저장</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/recipe'">목록</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>