<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<script   src="https://code.jquery.com/jquery-3.6.1.js"   integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="   crossorigin="anonymous"></script>

<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<script language="JavaScript">


    $(document).ready(function() {
        $('button .fa-plus-square').on('click', bb);
    });

    function bb(a,b,c){
        console.log(a);
        console.log(b);
        console.log(c);
    }

    function add(obj) {

        // 상위

        var parentObj = $(obj).parentsUntil('div#step', 'div.form-group');

        const idx = (new Date()).getTime();

        parentObj.after(getStep(idx));

    }

    function ttt() {

        /*

        <div>
            <label>STEP <span>1</span></label>
            <input type="text" value="3" class="form-control" id="recipeStepList0.id" name="recipeStepList[0].id">
            <input type="text" value="U" class="form-control" id="recipeStepList0.status" name="recipeStepList[0].status">
            <input type="text" value="0" class="form-control" id="recipeStepList0.step" name="recipeStepList[0].step">
            <input type="text" value="물을 끓인다.11" class="form-control" id="recipeStepList0.howTo" name="recipeStepList[0].howTo">
            <input type="text" value="image03" class="form-control" id="recipeStepList0.img" name="recipeStepList[0].img">
        </div>

         */


        const idx = (new Date()).getTime();

        var newRowAdd = getStep(idx);

        //$('#newinput').parent().append(newRowAdd);

        const aa = $('form div.form-group:last');

        aa.after(newRowAdd);

        setIndex();
    }

    /**
     * 레시피 단계를 추가한다.
     * @param index
     * @returns {string}
     */
    function getStep(index) {
         const  obj = '<div class="form-group" >' +
            '<label>STEP <span>$1</span></label>' +
            '<input type="text" class="form-control" id="recipeStepList[$1].id" name="recipeStepList[$1].id" placeholder="자동생성">' +
            '<input type="text" value="I" class="form-control" id="recipeStepList[$1].status" name="recipeStepList[$1].status" placeholder="I/U/D">' +
            '<input type="text" value="0" class="form-control" id="recipeStepList[$1].step" name="recipeStepList[$1].step" placeholder="단계번호">' +
            '<input type="text" class="form-control" id="recipeStepList[$1].howTo" name="recipeStepList[$1].howTo" placeholder="레시피 단계를 입력하세요">' +
            '<input type="text" class="form-control" id="recipeStepList[$1].img" name="recipeStepList[$1].img" placeholder="첨부파일">' +
            '</div>';

         return obj.replaceAll('$1', index);
    }

    function setIndex() {

        const ss = $('div#steps').children();

        for (let i = 0; i < ss.length; i++) {

            var inputs = $(ss[i]).children('input');

            console.log(inputs.length);

            for (let j = 0; j < inputs.length; j++) {
                var old = inputs[j].name;
                console.log(old);

                var newName = old.substring(0, old.indexOf("[")) + '[' + i + '].' + old.substring(old.lastIndexOf('.')+1);
                console.log(newName)
                inputs[j].name = newName;
            }

        }


    }

</script>
<body>

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/image/chef.png" alt="" width="72" height="72">
        <!--<h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>-->
    </div>

    <div class="row">
        <div class="col-md">
            <h4 class="mb-3">Recipe Info.</h4>
            <form role="form" th:action="@{|/recipe/${form.id}/edit|}" th:object="${form}" method="post">
                <div class="mb-3">
                    <label th:for="name">레시피 이름</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="레시피 이름을 입력하세요"
                               th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                        <div class="invalid-feedback">
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                        </div>
                        <div class="is-invalid">
                        </div>
                        <div class="invalid-tooltip">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="recipeFrom">레시피 출처</label>
                    <input type="text" th:field="*{recipeFrom}" class="form-control" placeholder="레시피 이름을 입력하세요"
                           th:class="${#fields.hasErrors('recipeFrom')}? 'form-control fieldError' : 'form-control'">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div id="steps">

                    <div th:each="recipeStep, iStat: ${form.recipeStepList}" class="form-group" >
                        <label >STEP <span th:text="${iStat.index}+1"></span></label>
                        <span>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" onclick="javascript:add(this)">
                                    <i class="fas fa-plus-square"></i>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <i class="fas fa-minus-square"></i>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <i class="fas fa-chevron-up"></i>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <i class="fas fa-chevron-down"></i>
                                </button>
                            </div>
                        </span>
                        <a href="javascript:void(0)"><span class="glyphicon glyphicon-chevron-up moveUp"></span></a>
                        <input type="text" th:value="${recipeStep.id}" th:field="*{recipeStepList[__${iStat.index}__].id}" class="form-control">
                        <input type="text" th:value="${recipeStep.status}" th:field="*{recipeStepList[__${iStat.index}__].status}" class="form-control">
                        <input type="text" th:value="${recipeStep.step}" th:field="*{recipeStepList[__${iStat.index}__].step}" class="form-control">
                        <input type="text" th:value="${recipeStep.howTo}" th:field="*{recipeStepList[__${iStat.index}__].howTo}" class="form-control">
                        <input type="text" th:value="${recipeStep.img}" th:field="*{recipeStepList[__${iStat.index}__].img}" class="form-control">
                    </div>

                <div id="newinput"></div>

                </div>

                <hr>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="ttt();">추가</button>
                    <button type="submit" class="btn btn-primary">저장</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/recipe'">목록</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>