<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<script   src="https://code.jquery.com/jquery-3.6.1.js"   integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="   crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css"/>



<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            ajax: '/api/v2/foods',
            columns: [
                { data: 'id' },
                { data: 'name' }
            ],
            // 엔터키를 눌러야 검색되게
            search: {
                return: true,
            },
            paging: true
        });

        $('#example tbody').on('click', 'tr', function () {
            var data = table.row(this).data();

            var id = data['id'];

            if (id) {
                location.href = 'food/' + id;
            }

            //alert('You clicked on ' + data[0] + "'s row");
        });
    });
</script>
<body>

<div class="container">

    <div>


        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>#</th>
                <th>음식 이름</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr th:each="item : ${list}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
            </tr>-->
        </table>
    </div>

</div>
<!-- /container -->

</body>
</html>
