<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>서빙 보기</title>
</head>

<script type="text/javascript" src="/js/jquery-3.6.1.js"></script>

<style>
    .fieldError {
        border-color: #bd2130;
    }
    .objDelete {
        text-decoration: line-through;
    }
</style>
<script>

    function deleteServing(id) {

        const msg = '정말 삭제 하나요?';

        if (confirm(msg)) {
            const form = $('form');

            form.attr('method', 'DELETE');
            form.attr('action', '/serving/' + id + '/delete');
            form.submit();
        }

    }



</script>
<body>

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/image/chef_72_72.png" alt="쉐프이미지">
    </div>

    <div class="row">
        <div class="col-md">
            <h4 class="mb-3">Serving Info.</h4>
            <form role="form" action="/serving/new" th:object="${form}" method="post">

                <div class="mb-3">
                    <label th:for="foodName">음식</label>
                    <input type="text" id="foodName" th:field="*{foodName}" class="form-control" readonly="readonly">
                </div>

                <div class="mb-3">
                    <label th:for="recipeName">레시피</label>
                    <input type="text" id="recipeName" th:field="*{recipeName}" class="form-control" readonly="readonly">
                </div>

                <div class="mb-3">
                    <label th:for="servingDate">서빙일자</label>
                    <input type="text" id="servingDate" th:field="*{servingDate}" class="form-control" readonly="readonly">
                    <input type="text" id="servingTime" th:field="*{servingTime}" class="form-control" readonly="readonly">
                </div>


                <div th:each="customer, iStat: ${customerList}" class="form-group" >
                    <label><span th:text="${customer.customerName}"></span></label>
                    <input type="hidden" th:value="${customer.customerId}" th:field="*{customerRatingList[__${iStat.index}__].customerId}" class="form-control" readonly="readonly">
                    <input type="text" th:value="${customer.id}" th:field="*{customerRatingList[__${iStat.index}__].rating}" class="form-control" readonly="readonly">
                </div>

                <hr>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="location.href='/serving'">목록</button>
                    <button type="button" class="btn btn-primary" th:onclick="|location.href='/serving/${form.id}/edit'|">수정</button>
                    <button type="button" class="btn btn-primary" th:onclick="|deleteServing('${form.id}')|">삭제</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>