<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap-5.2.1.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <link href="/css/font-awesome-5.4.1.all.min.css" rel="stylesheet">
    <title>Hello, world!</title>
</head>
