<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello there?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="con">
    <div class="jumbotron">
        <ul class="list-group">
            <li class="list-group-item"><a href="food">Food</a></li>
            <li class="list-group-item"><a href="recipe">Recipe</a></li>
            <li class="list-group-item disabled">Serving</li>
            <li class="list-group-item"><a href="customer">Customer</a></li>
            <li class="list-group-item disabled">Recommend</li>
        </ul>
    </div>
</body>

</html>