<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>고객 생성</title>
<style>
    .fieldError {
        border-color: #bd2130;
    }

</style>

</head>
<body>



<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/image/chef_72_72.png" alt="쉐프이미지">
        <!--<h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>-->
    </div>

    <div class="row">
        <div class="col-md">
            <h4 class="mb-3">Food Info.</h4>
            <form role="form" action="/customer/new" th:object="${customerForm}" method="post">
                <div class="mb-3">
                    <label th:for="name">고객 이름</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="고객 이름을 입력하세요"
                               th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                        <div class="invalid-feedback">
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                        </div>
                        <div class="is-invalid">
                        </div>
                        <div class="invalid-tooltip">

                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="active">활성화</label>
                    <select id="active" th:field="*{active}" class="form-select">
                        <option value="">예/아니오</option>
                        <option th:each="activeCode : ${activeList}"
                                th:value="${activeCode.code}"
                                th:text="${activeCode.text}">FAST</option>
                    </select>


                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="birthDate">생년월일</label>
                    <input type="text" id="birthDate" th:field="*{birthDate}" class="form-control" placeholder="YYYY-MM-DD"
                           th:class="${#fields.hasErrors('birthDate')}? 'form-control fieldError' : 'form-control'">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="location.href='/customer'">취소</button>
                    <button type="submit" class="btn btn-primary">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>




</body>
</html>